* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

header {
    padding: 20px 10px;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar {
    list-style-type: none;
}

/* TODO: replace to only navbar a */
a, li {

    text-decoration: none;
}

/* TODO: change this */
img {
    max-width: 200px;
}



main {
    padding: 100px;
}

main > .wrapper {
    max-width: 1200px;
    justify-content: space-around;
    overflow: auto;
}

main > .wrapper {
    display: grid;
    gap: 50px;
}

main > * > .block > h1 {
    background-image: linear-gradient(45deg, #ff0000, #0000ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}